In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import quandl
import math

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Extracting the data from quandl.com using quandl library and quandl API
# Loading and Reading the data

#get the token by creating an account on quandl.com

token = '*************'
df = quandl.get("EOD/AAPL", authtoken = token)
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [3]:
# shape of data

df.shape

(1090, 12)

In [4]:
df1  = df.copy()
df1.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [5]:
df1['HL_PCT'] = (df1['Adj_High'] - df1['Adj_Low']) / df1['Adj_Close'] * 100.0
df1['PCT_change'] = (df1['Adj_Close'] - df1['Adj_Open']) / df1['Adj_Open'] * 100.0

df1.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
Date,,,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,2.711941,-0.916650
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,1.195129,-0.173953
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,1.421447,-0.995502
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,1.892738,-0.044138
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,0.877176,0.231683

In [6]:
# Features Selection

df2 = df1[['Adj_Close', 'PCT_change', 'HL_PCT', 'Adj_Volume']]
df2.head()

            Adj_Close  PCT_change    HL_PCT   Adj_Volume
Date
2013-09-03  15.476472   -0.916650  2.711941  331928800.0
2013-09-04  15.796753   -0.173953  1.195129  345032800.0
2013-09-05  15.688388   -0.995502  1.421447  236367600.0
2013-09-06  15.781833   -0.044138  1.892738  359525600.0
2013-09-09  16.033661    0.231683  0.877176  340687200.0

In [7]:
# Summary of Dataframe

df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1090 entries, 2013-09-03 to 2017-12-28
Data columns (total 4 columns):
Adj_Close     1090 non-null float64
PCT_change    1090 non-null float64
HL_PCT        1090 non-null float64
Adj_Volume    1090 non-null float64
dtypes: float64(4)
memory usage: 42.6 KB

In [8]:
# Filling the NA value with -9999

df2.fillna(value = -9999, inplace = True)
forecast_out = int(math.ceil(0.01 * len(df2)))

In [9]:
df2['label'] = df2['Adj_Close'].shift(-forecast_out)

In [10]:
# Checking the null values

df2.isnull().sum()

Adj_Close      0
PCT_change     0
HL_PCT         0
Adj_Volume     0
label         11
dtype: int64

In [11]:
# Dropping the NAN values

df2.dropna(inplace = True)

In [12]:
df2.isnull().sum()

Adj_Close     0
PCT_change    0
HL_PCT        0
Adj_Volume    0
label         0
dtype: int64

In [13]:
# Splitting the data into X & Y using Numpy aaray

X = np.array(df2.drop(['label'], axis = 1))
Y = np.array(df2['label'])

In [14]:
# Scaling the data

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X)
X = sc.transform(X)

In [15]:
# Splitting the data into train and test

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size = 0.2, random_state = 10)

In [16]:
# Building the model using LinearRegression

from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, Y_train)
Y_pred = lr.predict(X_test)

In [17]:
# Intercept value

lr.intercept_

26.467977138498934

In [19]:
# Coefficients values

print(list(zip(df2.columns[:-1], lr.coef_)))

[('Adj_Close', 6.394183037257522), ('PCT_change', -0.03690955961021178), ('HL_PCT', 0.0038012272357082566), ('Adj_Volume', -0.07334893548842157)]

In [20]:
# Evaluating the model

from sklearn.metrics import mean_squared_error

round(mean_squared_error(Y_pred, Y_test),4)

1.3985